* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Bottom background */
#b-background-top {
  width: 100%;
  height: 15vh;
  background-color: #009988;
  position: absolute;
  top: 0;
}
#b-background {
  width: 100%;
  height: 85vh;
  background-color: #dadbd2;
  background: linear-gradient(0deg, rgba(196,207,207,1) 29%, rgba(220,219,208,1) 100%);
  position: absolute;
  top: 15vh;
}

/* Central panel */
#panel {
  width: 80%;
  height: 95vh;
  position: relative;
  background-color: white;
  margin: auto;
  position: relative;
  top: 2.5vh;
  display: flex;
}
  /* Contacts (left part) */
  #contacts {
    width: 35%;
    height: 100%;
  }
    /* Top part */
    #c-top > div{
      display: flex;
    }
      .top-banner {
        height: 65px;
        background-color: #eaeaea;
        justify-content: space-between;
        display: flex;
        padding: 8px;
      }
        .top-banner > div {
          display: flex;
          align-items: center;
        }
        .top-banner > div:first-child {
          width: 50%;
        }
        .top-banner > div:last-child {
          width: 120px;
          justify-content: space-around;
        }
        .top-banner div:last-child > i {
          color: #b1b1b1;
          font-size: 20px;
        }
        .top-banner div:last-child > i:hover {
          cursor: pointer;
        }
        .avatar {
          max-height: 100%;
          border-radius: 50%;
          margin-right: 8px;
        }
      /* Notifications alert */
      #notifications {
        height: 75px;
        background-color: #76dcff;
        align-items: center;
      }
        #notifications > i {
          color: #76dcff;
          background-color: white;
          font-size: 20px;
          padding: 15px 13px;
          margin: 0 10px;
          border-radius: 50%;
        }
        #notifications p {
          font-size: 17px;
        }
        #notifications a {
          color: #3b6778;
          font-size: 15px;
        }
      #search {
        height: 50px;
        background-color: #f2f2f2;
        padding: 5px;
      }
        #search > i {
          width: 10%;
          height: 100%;
          background-color: white;
          border: 1px solid #f2f2f2;
          border-right: none;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #b1b1b1
        }
        #search > input {
          width: 90%;
          height: 100%;
          padding-left: 10px;
          border: 1px solid #eaeaea;
          border-left: none;
        }
    /* Bottom part */
    #c-bottom {
      width: 100%;
      height: calc(100% - 200px);
      background-color: white;
      overflow: auto;
    }
      .preview {
        height: 70px;
        border-bottom: 1px solid #eaeaea;
        display: flex;
        justify-content: space-between;
        padding: 8px;
      }
        .preview:hover {
          cursor: pointer;
          background-color: #f2f3f3;
        }
        .active {
          background-color: #e9ebeb;
        }
        .preview > div {
          display: flex;
          width: 50%;
        }
        .preview div > p:last-child, .preview > p {
          color: #b1b1b1;
          font-size: 12px;
        }

  /* Conversation (rigth part) */
  #conversation {
    width: 65%;
    height: 100%;
    border-left: 1px solid #b1b1b1;
  }
    #conversation > div {
      width: 100%;
    }
    .top-banner p {
      color: #808080;
      font-size: 14px;
    }
    /* Messages */
    #mess {
      height: calc(100% - 130px);
      padding: 30px 80px;
      background-image: url(../img/mine.jpg);
      overflow: auto;
    }
      .message {
        min-width: 100px;
        min-height: 45px;
        margin: 8px 0;
        padding: 0 10px 5px 10px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-size: 15px;
      }
          .message > p:first-child {
            margin: 13px 15px 0 5px;
          }
          .message > p:last-child {
            font-size: 10px;
            align-self: flex-end;
            color: #b1b1b1;
          }
      .message.sent {
        margin-left: 55%;
        background-color: #cbfbb3;
      }
      .message.receved {
        margin-right: 55%;
        background-color: white;
      }
    /* Type message */
    #type-mess {
      height: 65px;
      background-color: #f4eee9;
      display: flex;
      align-items: center;
      padding: 10px 0;
    }
      #type-mess > input {
        width: calc(100% - 150px);
        height: 100%;
        border: none;
        padding-left: 10px;
        border-radius: 5px;
      }
      #type-mess > i {
        width: 75px;
        font-size: 22px;
        display: flex;
        justify-content: center;
        color: #808080;
      }
      #type-mess > i:hover {
        cursor: pointer;
      }
