<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta property="og:image" content="img/boolzapp3.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <!-- Css link -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Link Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Boolzapp</title>
  </head>
  <body>
    <main>
      <!-- Bottom background -->
      <div id="b-background-top">
      </div>
      <div id="b-background">
      </div>

      <!-- Central panel -->
      <div id="panel">
        <!-- Contacts (left part) -->
        <div id="contacts">

          <!-- Top part -->
          <div id="c-top">
            <div class="top-banner">
              <!-- Avatar and username -->
              <div class="">
                <img class="avatar" src="img/avatar_io.jpg" alt="my avatar">
                <h3>Veronika</h3>
              </div>
              <div class="">
                <i class="fas fa-circle-notch"></i>
                <i class="fas fa-comment-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>
            <!-- Notifications alert -->
            <div id="notifications">
              <i class="fas fa-bell-slash"></i>
              <div class="">
                <p>Ricevi notifiche di nuovi messaggi</p>
                <a href="#">Attiva notifiche desktop</a>
              </div>
            </div>
            <!-- Search tool -->
            <div id="search">
              <i class="fas fa-search"></i>
              <input v-model="searchContact" @keyup="filter" placeholder="Cerca o inizia una nuova chat">
            </div>
          </div>

          <!-- Bottom part -->
          <div id="c-bottom">
            <div v-for="(obj, index) in conversations">
              <div class="preview" v-if="obj.user" @click="openConv(index)" :class="index===i?'active':''"> 
                <div class="">
                  <img class="avatar" :src="obj.avatar" alt="avatar">
                  <div class="">
                    <p class="name">{{obj.name}}</p>
                    <p>{{obj.chat[obj.chat.length - 1].message}}</p>
                  </div>
                </div>
                <p>{{obj.chat[obj.chat.length - 1].time}}</p>
              </div>
            </div> 
          </div>
        </div>

        <!-- Conversation (right part) -->
        <div id="conversation">
          <!-- Avatar -->
          <div class="top-banner">
            <div class="">
              <img class="avatar" :src="conversations[i].avatar" alt="avatar">
              <div class="">
                <h3>{{conversations[i].name}}</h3>
                <p>Ultimo accesso: {{conversations[i].chat[conversations[i].chat.length - 1].time}}</p>
              </div>
            </div>
            <div class="">
              <i class="fas fa-search"></i>
              <i class="fas fa-paperclip"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>
          <!-- Messages -->
          <div id="mess">
            <!-- Conversation 1 -->
            <div class="message" v-for="text in conversations[i].chat" :class="text.status">
                <p>{{text.message}}</p>
                <p>{{text.time}}</p>
            </div>
          </div>

          <!-- Type message -->
          <div id="type-mess">
            <i class="far fa-smile-wink"></i>
            <input v-model="newText" placeholder="Scrivi un messaggio" @keyup.enter="send">
            <i class="fas fa-microphone" @click="send"></i>
          </div>
        </div>
      </div>
    </main>
    <script type="text/javascript" src="js/script.js">

    </script>
  </body>
</html>
